{% extends 'base.html' %}

{% block navbar %}

{% include 'components/navbar.html' %}

{% endblock navbar %}

{% block content %}

<div class="container-home">
<header class='header-about'>
    <h1>About Us</h1>
    <p>A simple and effective solution to track your stock</p>
  </header>
  <main>
    <section class="about-us">
      <h2>About Our Company</h2>
      <p>We are a team of experienced software developers and entrepreneurs who are passionate about helping businesses of all sizes manage their inventory more effectively. Our web inventory app is designed to be easy to use and affordable, so that businesses of any size can take advantage of its benefits.</p>
      <p>Our mission is to provide businesses with the tools they need to streamline their inventory management processes and improve their bottom line.</p>
    </section>
  </main>
</div>

{% endblock content %}