{% extends 'base.html' %}
{% load static %}

{% block navbar %}

{% include 'components/navbar.html' %}

{% endblock navbar %}

{% block content %}

<div class="container">
    <h1>Categories</h1>
    <a href="{% url 'categories:create_category' %}"><button class="create">Create Category</button></a>

    {% if categories.exists %}
        <div class="grid">
            {% for category in categories %}
            <div class="card">
            <h2>{{ category.name }}</h2>
                <p>{{ category.user.username }}</p>
                <p> {{ category.created|date }}</p>
                <a href="{% url 'categories:update_category' category.id %}"><button class="update">update</button></a>
                <a href="{% url 'categories:delete_category' category.id %}"><button class="delete">delete</button></a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have not created categories yet</p>
        <img src="{% static 'patito.gif' %}" alt="">
    {% endif %}
</div>

{% endblock content %}